/*
Parent BG: #FAFAFA
Color: #495916
BG block: #DBDBDB
Border: #4C5955

para la etiqueta de la img de la hero section:
bg color: #1D1D1D
color: #E1E1E1

Fuente del navBar:
font-family: 'Noto Sans', sans-serif;
font-style: bold;
font-size: 1.5rem;

h3 de los titulos de sección:
font-family: 'Noto Sans', sans-serif;
font-style: bold;
font-size: 32px;

títulos de dentro del bloque son:
font-family: 'Noto Sans', sans-serif;
font-style: bold;
font-size: 26px;

párrafos:
font-family: Acumin Pro;
font-family: 'Noto Sans', sans-serif;
font-size: 20px;
*/

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #FAFAFA;
    font-size: 16px;
}
/*texto*/

.titlesSection{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    color: #495916;
}

.sectionMenu {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: #495916;
}

p{
    font-family: 'Noto Sans', sans-serif;
    font-size: 1rem;
}

form {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1rem;
}

/*NavBar*/

header {
    background-color:#DBDBDB;
    width: 100%;
    height: 70px;
    position: fixed;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: repeat(4, 10px);
}

nav{
    grid-column: 4 / 5 ;
    grid-row: 3/4;
}

#logo{
    height: 70px;
}

ul{
    display: grid;
    width: 70%;
    height: 70px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
    column-gap: 2rem;
}
nav ul li{
    list-style: none;
    display: inline;
}

/*main*/

main{
    display: grid;
    grid-template-columns: repeat(15,100px);
    grid-template-rows: repeat(30, 50px);
}

.a{
    grid-column: 3/ 15;
    grid-row: 4 / 12;
}

.b {
    grid-column: 3/ 15;
    grid-row: 19 / span 5;
}

.c{
    grid-column: 3/ 15;
    grid-row: 24 / span 4;
}

