/*
Parent BG: #FAFAFA
Color: #495916
BG block: #DBDBDB
Border: #4C5955

para la etiqueta de la img de la hero section:
bg color: #1D1D1D
color: #E1E1E1

Fuente del navBar:
font-family: Acumin Pro;
font-style: bold;
font-size: 35px;

h3 de los titulos de sección:
font-family: Acumin Pro;
font-style: bold;
font-size: 32px;

títulos de dentro del bloque son:
font-family: Acumin Pro;
font-style: bold;
font-size: 26px;

párrafos:
font-family: Acumin Pro;
font-style: regular;
font-size: 20px;
*/

body {
    background-color: #FAFAFA;
}