/*
Parent BG: #FAFAFA
Color: #495916
BG block: #DBDBC5
Border: #4C5955

para la etiqueta de la img de la hero section:
bg color: #1D1D1D
color: #E1E1E1

Fuente del navBar:
font-family: 'Noto Sans', sans-serif;
font-style: bold;
font-size: 1.5rem;

h3 de los titulos de sección:
font-family: 'Noto Sans', sans-serif;
font-style: bold;
font-size: 32px;

títulos de dentro del bloque son:
font-family: 'Noto Sans', sans-serif;
font-style: bold;
font-size: 26px;

párrafos:
font-family: Acumin Pro;
font-family: 'Noto Sans', sans-serif;
font-size: 20px;
*/

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #FAFAFA;
    font-size: 16px;
}
/*texto*/

.titlesSection{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    color: #495916;
}

.sectionMenu {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: #495916;
    text-align: center;
}

p{
    font-family: 'Noto Sans', sans-serif;
    font-size: 1rem;
}

form {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1rem;
}

/*NavBar*/

header {
    background-color:#DBDBC5;
    width: 100%;
    height: 70px;
    position: fixed;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: repeat(4, 10px);
    box-shadow: 2px 2px 2px 1px #49591638;
}

nav{
    grid-column: 4 / 5 ;
    grid-row: 3/4;
}

#logo{
    height: 70px;
}

ul{
    display: grid;
    width: 70%;
    height: 70px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
    column-gap: 2rem;
}
nav ul li{
    list-style: none;
    display: inline;
}

/*heroSection*/

#heroSection { 
    display: grid;
    grid-template-columns: repeat(8, 150px);
    grid-template-rows: repeat(10, 30px);
}

#heroQuote{
    grid-column: 3/ 8;
    grid-row: 4 / 10;
    background-color: #1D1D1D;
    height: 80px;
    width: 710px;
    margin-left: 40px;
}

#heroQuote p{
    margin-top: 10px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    color: #E1E1E1;
    text-align: center;
}

/*main*/

main{
    display: grid;
    grid-template-columns: repeat(15,100px);
    grid-template-rows: repeat(30, 70px);
}

.a{
    grid-column: 3/ 15;
    grid-row: 4 / 12;
}

.b {
    grid-column: 3/ 15;
    grid-row: 15 / span 5;
}

.c{
    grid-column: 3/ 15;
    grid-row: 25 / span 4;
}

/*Main Sections KnowUs*/

.knowUs h2{
    margin-right: 30px;
    margin-top: 20px;
    font-size: 2.2rem;
}
main .knowUs img {
    max-width:320px;
}

.knowUs{
    margin-top: 20px;
    max-width: 1020px;
    height: 635px;
    margin-left: 10px;
    background-color: #DBDBC5; 
}

#philosophy{
    display: grid;
    grid-template-columns: repeat(15, 60px);
    grid-template-rows: repeat(10, 30px);
}

#philosophy img {
    grid-column: 3 / 4;
    grid-row: 2 / 8;
}

#philosophy .textSection{
    grid-column: 9 / 16;
    grid-row: 3 / 10;
    line-height: 29px;
}

#aboutUs{
   display: grid;
    grid-template-columns: repeat(15, 60px);
    grid-template-rows: repeat(20, 30px);
}

#aboutUs img {
    grid-column: 3 / 4;
    grid-row: 1 / 8;
}

#aboutUs .textSection {
    grid-column: 9 / 16;
    grid-row: 2 / 10;
    line-height: 28px;
}

/*Form*/

#contact{
    display: grid;
    grid-template-columns: repeat(15, 60px);
    grid-template-rows: repeat(14, 40px);
    background-color: #DBDBC5;
    max-width: 1020px;
    height: 470px;
    margin-left: 10px;
}

#contact h3{
    font-size: 2.2rem;
    text-align: center;
    grid-column: 8/ 8;
    margin-top: 20px;
}

form {
    margin-top: 50px;
    grid-column: 5/ 10;
}

form input{
    width: 500px;
    height: 30px;
    margin-bottom: 10px;
}

form section{
    margin-top: 15px;
}

form section input{
    width: 200px;
    margin-bottom: 80px;
}

form #submitBoton{
    width: 500px;
    display: flex;
    justify-content: center;
}

textarea{
    width: 500px;
}

footer {
    display: grid;
    grid-template-columns: repeat(12, 70px);
    grid-template-rows: repeat(8, 15px);
}

footer p {
    grid-row: 5 / 7;
    grid-column: 9 / 13;
    text-align: center;
}